img {
    width: 250px;
    height: auto;

}

#upperBanner{
    width: 100%;
    height: 10%;
}

.container {
    display: flex;
    background-color: powderblue;
    height: 900px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    padding: 4px 10px 4px 10px;
    justify-content: left;
}

.container div {
    background-color: white;
    margin-right: 5px;
    padding: 1%;
    height: 250px;
    width: 320px;
    text-align: left;
    font-size: 14px;
    margin-left: 5px;
    align-content: center;
}